@import "../../layui/css/layui.css";

.swln-div {
  padding: 5px;
  line-height: 50px;
  text-align: center;
  background-color: #393D49;
   color: #fff;
}

/* 隐式指定显示类型为table */
.swln-div-table {
  width:100%;height:50px;
  display:table;
  text-align:center;
}
/* 这里要定义内标签span的居中 */ 
.swln-div-table span{
  display:table-cell;
  vertical-align:middle;
}

